body {
    background-color: bisque;
}

#mainheader {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainoptions {
    margin-right: 20px;
    font-size: 16px;
}